/TestResults
/.vs
/Demo/obj
/Demo/bin
/HandyNetworking/obj
/HandyNetworking/bin
/HandyNetworking.LiteNetLibBackend/obj
/HandyNetworking.LiteNetLibBackend/bin
/HandyNetworking.Tests/obj
/HandyNetworking.Tests/bin
/HandyNetworking.SyncVar/bin
/HandyNetworking.SyncVar/obj
